/* line 4, assets/scss/vc_modules/searchbox/style_2.scss */
.stm_searchbox.style_2 {
  margin: 0 0 40px; }
  /* line 6, assets/scss/vc_modules/searchbox/style_2.scss */
  .stm_searchbox.style_2 form {
    position: relative;
    max-width: 610px;
    margin: 0 auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    border-radius: 5px; }
    /* line 13, assets/scss/vc_modules/searchbox/style_2.scss */
    .stm_searchbox.style_2 form input {
      padding-left: 30px !important;
      height: 60px;
      padding-right: 150px !important;
      background-color: #fff;
      border-radius: 5px;
      border: none;
      overflow: hidden; }
    /* line 22, assets/scss/vc_modules/searchbox/style_2.scss */
    .stm_searchbox.style_2 form button[type="submit"] {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 150px;
      line-height: 60px;
      right: 0;
      font-size: 18px;
      border: 0;
      background-color: #2dd675;
      outline: none;
      border-radius: 0 5px 5px 0; }
      /* line 34, assets/scss/vc_modules/searchbox/style_2.scss */
      .stm_searchbox.style_2 form button[type="submit"] span {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        display: block; }
        /* line 40, assets/scss/vc_modules/searchbox/style_2.scss */
        .stm_searchbox.style_2 form button[type="submit"] span i {
          display: none; }
